{
	"plugins": [
		"@babel/plugin-transform-runtime"
	],
	"presets": [
		["@babel/env", {
			"targets": {
				"node": "current",
				"browsers": [
					"last 2 versions",
					"safari >= 7"
				]
			},
			"corejs": "3",
			"modules": "commonjs",
			"useBuiltIns": "usage"
		}]
	]
}
